body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(148, 209, 209),rgb(208, 234, 234));
}
* {
  box-sizing: border-box;
}
.first{
    background-color:#777;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 2;
    padding: 0;
}
.first li a {
    color: rgb(244, 246, 248);
    text-decoration: none;
    padding: 15px;
    display: block;

}
.first li a:hover{
    background-color: black;
}  
h1{
  text-align: center;
  padding: 5px;
  font-size: 40px;
}   
.out{
  background-color: #777;
  max-width: 95%;
  margin: auto;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
p{
  color: aliceblue;
  font-size: 25px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3,33%);
  gap: 10px;
}
input{
  max-width: 110px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
label{
  color: aliceblue;
  position: relative;
  left: -30px;
  font-size: 20px;
}
button{
  padding: 10px;
  background-color: beige;
  margin: 8px;
  border: none;
  font-size: 22px;
  margin-top: 19px;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}